{% extends "base.html" %} {% block title %}QuaranSTEM{% endblock %}

{% block content %}
<style>
    body {
        background-color: #1a1a2e;
        color: #ffffff;
    }

    h1 {
        color: #ffffff;
    }
</style>

<p> Hello everyone and welcome to this website. </p>
<p> This is a project made for me, Juan Avila, in order to participate in RISE FOR THE WORLD;
    I want this project to be a repository of multiple academic, educative and informative files in order to be of help 
    for those people (especifically teenagers in high school and preparatory) who were affected the most for the poor
    educational response coming from the schools and educational institutions they belonged in front of COVID-19 Quarantine.</p>
<p>I'll make sure that the information that comes to this website is the most reliable and accurate.</p>
<p>I have to clarify that this website, as it says in its name, focuses on STEM topics(science, technology, engineering and mathematics)
    and the most of them won't be more than high school level.</p>
<p>there's nothing more i have to say, so have a nice day.</p>

<br />
<br />
<br />
<p>Hola a todos y bienvenidos a esta web. </p>
<p>Este es un proyecto realizado por mi, Juan Avila, para participar en RISE FOR THE WORLD;
    Quiero que este proyecto sea un repositorio de múltiples archivos académicos, educativos e informativos con el fin de ser de ayuda 
    para aquellas personas (específicamente adolescentes de preparatoria y bachillerato) que fueron las más afectadas por la pobre
    respuesta educativa proveniente de las escuelas e instituciones educativas a las que pertenecían frente a la Cuarentena COVID-19.
    Me aseguraré de que la información que llegue a esta página sea la más confiable y veraz.</p>
<p>Tengo que aclarar que este sitio web, como dice en su nombre, se centra en temas STEM(ciencia, tecnología, ingeniería y matemáticas)
    y la mayoría de ellos no pasarán del nivel de bachillerato.</p>
<p>No tengo nada más que decir, que tengan un buen día.</p>

{% endblock %}