{% extends "Base.html" %} {% block title %}Comments{% endblock %}

{% block content %} 
<p><center>This is a page where you can upload your questions waiting for others or for me to answer any doubts you have, to share any
    suggestion you can give to improve the page or just interact with each other</center>
</p>
<br />
<br />
<p><center>Esta es una página donde puedes subir sus preguntas esperando que los demás o yo te contestemos cualquier duda que tengas, compartir cualquier
    sugerencia que podáis dar para mejorar la página o simplemente interactuar entre vosotros</center>
</p>
<br/>
<br/>

<form method="POST">
    <center><textarea name="comment_text" id="comment" placeholder="Write your comment..." style="height: 200px; width: 800px" class= "form-control" required></textarea></center>
    <center><button type="submit" class="btn btn-primary">Submit Comment</button></center>
</form>

<style>
    body {
        background-color: #1a1a2e;
        color: #ffffff;
    }

    h1 {
        color: #ffffff;
    }
</style>
{% endblock %}
