{% extends "Base.html" %} {% block title %}QuaranSTEM{% endblock %}

{% block content %}
<style>
    body {
        background-color: #1a1a2e;
        color: #ffffff;
    }

    h1 {
        color: #ffffff;
    }
</style>
<body>
    {% for topic, contents in grouped_content.items() %}
        <h2>{{ topic }}</h2>
        <ul>
            {% for content_item in contents %}
                <li>
                    {% if content_item.image_path %}
                        <img src="{{ content_item.image_path }}" alt="Image">
                    {% endif %}
                    {% if content_item.text %}
                        <p>{{ content_item.text }}</p>
                    {% endif %}
                    {% if content_item.link %}
                        <a href="{{ content_item.link }}" target="_blank">{{ content_item.link }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
{% endblock %}
